name: Posli Menu Každý Pondelok
on:
  schedule:
    - cron: '0 7 * * 1'  # 7:00 UTC je 8:00 nášho času
  workflow_dispatch:      # Toto tlačidlo ti umožní spustiť to hneď na test

jobs:
  run_script:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: pip install requests beautifulsoup4
      - name: Run script
        run: python menu.py
